<div class="center hero-unit">
	<h1>Bienvenido al App de Beto</h1>

	<h2>
		This is the home page for Beto's
		<a href="https://www.facebook.com/BetoSal">Facebook</a>  page
	</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	</div>

	<%= link_to image_tag("reddit-alien.png", alt: "Rails"), 'http://reddit.com' %>